In [127]:
import pandas as pd
import numpy as np

In [128]:
df = pd.read_excel("job-application-dataset.xlsx")
df.head(50)

,company_id,position_id,date_applied,location,industry,current_status,Unnamed: 6,platform,Unnamed: 8,Unnamed: 9,furthest_status
0,Anthem Blue Cross Blue Shield Nebraska,Data Intern,2023-09-19,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
1,Next Era Energy,Data Science Intern,2023-09-19,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
2,Wipfli,Data & Analytics Consulting Intern,2023-09-19,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
3,Dish,Data Analyst Intern,2023-09-19,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
4,Access Holdings,Summer Data Science Analyst Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
5,ACS,Data Science Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
6,Hussman,Data Analytics Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
7,Swire Coca-cola,Data Science Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
8,Converse,Data Engineering Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
9,MISO,Data Science/Data Analytics Intern,2023-09-20,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
10,Munich Re,Data Science Intern,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
11,Pacific Life,Data Analytics & Engineering,2023-09-20,NaN,NaN,Waiting,NaN,NaN,NaN,NaN,Waiting
12,Brighthouse Financial,Data Analyst Intern,2023-09-23,NaN,NaN,Rejected,NaN,NaN,NaN,NaN,Rejected
13,AGCO,Data Specialist Intern,2023-09-25,Remote,Agricultural,Waiting,NaN,Company Website,NaN,(1/16/24 - 5/10/24),Waiting
14,Share Ventures,Data Science Fellow,2023-09-25,Remote,Venture Capital,Waiting,NaN,Handshake,NaN,(10/16/23 - 12/31/23),Waiting
15,Avangrid,Data Analytics/Science Intern,2023-09-25,"Orange, CT",Energy,Info session,NaN,Company Website,NaN,(6/15/24 - 8/24/24),Info session
16,Federal Reserve Bank of Chicago,Data Science/ Business Analytics Intern,2023-09-25,"Chicago, IL",Banking,Waiting,NaN,Workday,NaN,Summer,Waiting
17,BAE Systems,Data Analyst Intern,2023-09-25,"Mechanicsburg, PA \n",Tech,Waiting,NaN,Company Website,NaN,Summer,Waiting
18,MITRE,"Internship in data science, math, stats",2023-09-26,"San Diego, CA",Defense,Rejected,NaN,Company Website,NaN,(4/29/24 - 8/30/24),Rejected
19,Microsoft Explore,Explore intern,2023-09-26,"Mountain View, CA",Tech,Waiting,NaN,Company Website,NaN,NaN,Waiting
20,Genworth,Data analyst intern,2023-09-26,"Raleigh, NC",Insurance,Waiting,NaN,Workday,NaN,NaN,Waiting
21,Premier Inc,Data science intern,2023-09-26,Remote,Healthcare,Rejected,NaN,Workday,NaN,(5/13/24 - 8/2/24),Rejected
22,Spectrum,Data science/analytics intern,2023-09-26,"Greenwood Village, CO",Internet,Waiting,NaN,Company Website,NaN,NaN,Waiting
23,Milliman,Healthcare Analytics Intern Summer 2024,2023-09-27,Remote,Healthcare,Rejected,NaN,Company Website,NaN,NaN,Rejected
24,LinQuest,Associate Data Scientist / Intern,2023-09-27,"Remote or Beavercreek, OH",Defense,Waiting,NaN,Company Website,NaN,NaN,Waiting
25,Amplifon,Data Analytics Intern,2023-09-27,"Minneapolis, MN",Retail,Waiting,NaN,Company Website,NaN,NaN,Waiting
26,American Heart Association,Data Science Intern,2023-09-27,Remote,Healthcare,Waiting,NaN,Company Website,NaN,NaN,Waiting
27,Extreme Networks,Data Science Intern,2023-09-27,"Raleigh, NC",Networks,Waiting,NaN,Indeed quick aply,NaN,NaN,Waiting
28,TITANS Math and Data Analytics (MARTIANS),R&D Intern,2023-09-27,"Alburquerque, NM",Research,Waiting,NaN,Company Website,NaN,NaN,Waiting
29,Zipline,Data Analyst intern,2023-09-27,"South San Fransisco, CA",Logistics,Waiting,NaN,Wellfound,NaN,asked for spring 2024 part time or summer,Waiting
30,EA,Data Analyst intern,2023-09-28,"Redwood City, CA",Gaming,Rejected,NaN,Company Website,NaN,NaN,Rejected
31,Whole Foods,E-Commerce Data Analytics Internship,2023-09-28,"Austin, TX",Grocery,Rejected,NaN,Workday,NaN,NaN,Rejected
32,AGCO,Data Compliance Intern,2023-09-28,Remote,Agricultural,Waiting,NaN,Company Website,NaN,(1/16/24 - 5/10/24),Waiting
33,AGCO,"Intern, Data Fast Forward Intitiative",2023-09-28,Remote,Agricultural,Waiting,NaN,Company Website,NaN,(1/16/24 - 5/10/24),Waiting
34,Novelis,Data Analyst intern,2023-09-28,"Kennesaw, GA",Manufacturing,Rejected,NaN,Company Website,NaN,NaN,Rejected
35,C&S Wholesale Grocers,Data Analyst Intern,2023-09-28,"Keene, NH",Grocery,Waiting,NaN,Workday,NaN,NaN,Waiting
36,KLA,Data science intern,2023-09-28,"Milpitas, CA",Electronics,Waiting,NaN,NaN,NaN,NaN,Waiting
37,Cerebrus,Data science intern,2023-10-01,"New York, NY",Finance,Waiting,NaN,Workday,NaN,NaN,Waiting
38,FM Global,Data analytics intern,2023-10-01,"Johnston, RI",Commercial Property Insurance,Waiting,NaN,Company Website,NaN,NaN,Waiting
39,Nintendo,IT BI Data & Analytics intern,2023-10-01,"Redmond, WA",Gaming,Waiting,NaN,Company Website,NaN,NaN,Waiting
40,Inari Medical,Data Analyst Intern,2023-10-01,"Irvine, CA",Medical,Rejected,NaN,Company Website,NaN,NaN,Rejected
41,Southwest Airlines,Business and Operations Analyst,2023-10-01,"Dallas, TX",Airline,Rejected,NaN,Company Website,NaN,NaN,Rejected
42,Carrier,Data Science & Analytics Intern,2023-10-01,NaN,Business,Waiting,NaN,Company Website,NaN,(5/20/24 - 8/16/24),Waiting
43,Micron Technology,Product Line Data Analyst,2023-10-02,"San Jose, CA",Tech,Waiting,NaN,Workday,NaN,NaN,Waiting
44,Southwest Airlines,Quality Control Standards Data Analyst,2023-10-02,"Dallas, TX",Airline,Rejected,NaN,Company Website,NaN,NaN,Rejected
45,CVS,Enterprise Data Services & Operations intern,2023-10-02,"Hartford, CT",Healthcare,Interview 1,NaN,Workday,NaN,NaN,Interview 1
46,Cruise,Data analyst intern,2023-10-02,"SF, CA",Self-driving cars,Waiting,NaN,Greenhouse,NaN,NaN,Waiting
47,ACLU,Data analyst intern,2023-10-02,Remote,Civil Liberties Union,Rejected,NaN,Greenhouse,NaN,winter/spring 2024,Rejected
48,Liberty Mutual,Analyst development program intern,2023-10-03,"Seattle, WA",Insurance,Final round,NaN,Company Website,NaN,NaN,Final round
49,Labcorp,Data Analyst intern,2023-10-03,"Durham, NC",Healthcare,Waiting,NaN,Workday,NaN,NaN,Waiting

Creating Companies Table

In [129]:
companies = pd.Series(df['company_id'].unique()).to_frame(name = "company_name").reset_index().copy()
companies = companies.rename(columns = {'index' : 'company_id'})
companies.to_csv("Companies.csv", index = False)

Creating Position Table

In [130]:
df['position_id']

0                             Data Intern
1                     Data Science Intern
2      Data & Analytics Consulting Intern
3                     Data Analyst Intern
4      Summer Data Science Analyst Intern
                      ...
129           Medical data analyst intern
130                   Data analyst intern
131                   Data science intern
132                   Data science intern
133                  Data engineer intern
Name: position_id, Length: 134, dtype: object

Creating Status Table

In [131]:
df['current_status'].unique()

array(['Rejected', 'Waiting', 'Info session', 'Interview 1',
       'Final round', 'rejected'], dtype=object)

In [133]:
# convert all to lowercase
df['current_status'] = df['current_status'].str.lower()

# create table
status = pd.Series(df['current_status'].unique()).to_frame(name = "status").reset_index()
status = status.rename(columns = {'index' : 'status_id'})

# manually adding possible positions
extra_status = pd.DataFrame([[5, 'interview 2'], ['6', 'interview 3']], columns = ['status_id', 'status'])

status = pd.concat([status, extra_status], ignore_index=True)
status.to_csv('Status.csv', index = False)